<table>
    <tr>
        <td style="@Style"><div class="evaluations-td">@Subject</div></td>
        <td ><strong>@Manager</strong></td>
        <td ><table><tr><td><XafImage ImageName="@RaiseImage" Size="16" Color="red"></XafImage></td><td>RAISE</td></tr></table></td>
    </tr>
    <tr>
        <td colspan="2"><div class="evaluations-td">@Description</div></td>
        <td><table><tr><td><XafImage ImageName="@BonusImage" Size="16" Color="green"></XafImage></td><td>BONUS</td></tr></table></td>
    </tr>
</table>
@code {
    [Parameter]
    public string Subject { get; set; }

    [Parameter]
    public string RaiseImage { get; set; }
    [Parameter]
    public string BonusImage { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public string Manager { get; set; }
}



