@using System.Linq.Expressions
@using OutlookInspired.Module.BusinessObjects
@using OutlookInspired.Module.Services.Internal


<DxChart Data="@Data" Width="100%" Rotated="true" Height="@Height" CustomizeSeriesPoint="CustomizeSeriesPoint">
    <DxChartCommonSeries ArgumentField="@ArgumentField" ValueField="@ValueField"
                         SeriesType="ChartSeriesType.Bar" SummaryMethod="@(values => values.DynamicSum())" NameField="@NameField" />
    <DxChartLegend Visible="false" />
    <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
        <div style="background-color: #505050;color: white">
            @context.Point.SeriesName: @($"{(decimal)context.Point.Value:$0,.#K}")
        </div>
    </DxChartTooltip>
</DxChart>
@code {
    [Parameter] public IEnumerable<MapItem> Data { get; set; }
    [Parameter] public Expression<Func<MapItem, string>> ArgumentField { get; set; }
    [Parameter] public Expression<Func<MapItem, decimal>> ValueField { get; set; }
    [Parameter] public Expression<Func<MapItem, string>> NameField { get; set; }
    [Parameter] public string Height { get; set; } = "70vh";

    private static void CustomizeSeriesPoint(ChartSeriesPointCustomizationSettings obj)
        => obj.PointAppearance.Color = obj.Point.DataItems.Cast<MapItem>().First().Color.ColorFromHex();
}